<% for (let i = 1; i <= update_length; i++) { %>
    <% console.log(body[body_length - i]) %>
    <h2>Weather: <%= body[body_length - i].weather %></h2>
    <p>Highest Temperature: <%= body[body_length - i].max %></p>
    <p>Average Temperature: <%= body[body_length - i].avg %></p>
    <p>Lowest Temperature: <%= body[body_length - i].min %></p>
    <p>(Data last updated: <%= body[body_length - i].timestamp %>)</p>
<% } %>